.container {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 60%;
  height: auto;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 580;
  color: #333;
  display: flex;
  justify-content: center;
}

.content ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: flex-start;
  /* border: 1px solid; */
}

.content ul li {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  list-style: circle;
}

.external {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* border: 1px solid red; */
  /* align-items: center; */
}

.container h1 {
  margin: 20px;
  font-style: normal;
  font-weight: 700;
}

.container h3 {
  margin: 20px;
  width: 50%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 40px;
}

.external ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
}
.external ul li {
  display: flex;
  width: 120px;
  padding: 10px;
  background-color: rgba(147, 214, 107, 0.2);
  border: 1px solid rgb(236, 235, 235);
  border-radius: 4px;
}

.external ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

/* external ul>li>a::before {
  content: '';
  background-image: url('../img/twitter.svg');
} */
.twitter {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../img/twitter.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.facebook {
  content: '';
  background-image: url('../img/facebook.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.instagram {
  content: '';
  background-image: url('../img/instagram.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.youtube {
  content: '';
  background-image: url('../img/youtube.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}

@media (max-width: 720px) {
  .content {
    width: 80%;
  }

  .content h2 {
    font-size: 20px;
  }
  .content ul {
    font-size: 20px;
    width: 100%;
    padding: 5px;
  }
  .content ul li {
    font-size: 15px;
    width: 100%;
    padding: 5px;
  }

  .container {
    max-width: 100%;
  }
  .container h1 {
    font-size: 20px;
  }
  .container h3 {
    font-size: 15px;
    width: 100%;
    line-height: normal;
  }
}
