.header {
  /* margin-top: 40px; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  /* flex-shrink: 0; */
}

.navbar {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  flex-shrink: 0;
  /* border-bottom: 1px solid #d6d6d6; */
}

.logo {
  display: flex;
  /* flex-basis: 25%; */
  flex-basis: 227px;
  
  flex-shrink: 0;
}

.logo img {
  max-width: 100%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  flex-basis: 70%;
  color: #333;
}
.links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
  font-size: 18px;
  /* border: 1px solid; */
}
.links ul a {
  font-family: Open Sans, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  /* border: 1px solid; */
}
