.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.navbar {
  width: 60%;
  /* border-bottom: 1px solid #d6d6d6; */
  display: flex;
}

.logo {
  width: 30%;
  background-image: url('../img/log.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid #d6d6d6;
}

.links {
  display: flex;
  padding: 10px;
  flex-basis: 70%;
  color: #333;
}
.links ul {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
  font-size: 20px;
  /* border: 1px solid; */
}
.links ul a {
  font-family: Open Sans, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  /* border: 1px solid; */
}
